h1 {
	color: white;
	background-color: darkgreen;
	border-radius: 10px;
}

html{
	background-color: lightgrey;
}

tr,
td,
th{
	outline-style: solid;
	outline-color: green;
	padding: 5px;
}

form{
	padding-bottom: 10px;
}